a{
	text-decoration:none;
	color:#2c3e50;
}
body{
	width:100%;
	margin:0;
	padding:0;
	background-color:#ecf0f1;
	font-family:sans,arial,"微软雅黑";
	font-size: 16px;
	color: #2c3e50;
}
.header-wrapper{
	width:100%;
	overflow:auto;
	background-color:#2ECC71;
	box-shadow: 0 0 10px #888888;
}
.header{
	position:relative;
	max-width:1024px;
	margin:0 auto;
	padding: 0 20px;
	line-height: 48px;
	color: #FFFFFF;
}
.header a{
	color: #FFFFFF;
}
.header h1, .header .site-title{
	font-weight: normal;
	display:inline;
	font-size:24px;
}
.main-content{
	max-width:1024px;
	margin:0 auto;
	padding: 10px 20px;
	overflow:auto;
}
.main-content h1{
	margin-right:20px;
}
#fork_me_on_github{
	display:block;
	position:absolute;
	z-index:1;
	top:0;
	right:0;
	width:100px;
	height:100px;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
	user-drag:none;
}

