@charset "UTF-8";
body {
	width: 100%;
	margin: 0;
	padding: 0 0 10px 0;
	background-color: #ecf0f1;
	font-family: sans, arial, "微软雅黑";
	font-size: 16px;
	color: #2c3e50;
	position:relative;
}
a {
	text-decoration: none;
	color: #2c3e50;
}
hr {
	border: none;
	border-bottom: 1px solid #ccc;
}
ul, li{
	list-style: none;
	padding: 0;
}
p {
	margin:6px 0 0 0;
}
.header-wrapper {
	width: 100%;
	overflow: auto;
	background-color: #2ECC71;
	box-shadow: 0 0 10px #888888;
}
.header {
	position: relative;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	line-height: 48px;
	color: #FFFFFF;
}
h1 {
	font-weight: normal;
	display: inline;
	font-size: 24px;
}
h1 a {
	color: #FFFFFF;
}
.main-content {
	max-width: 1024px;
	margin: 0 auto;
	padding: 10px 20px;
	overflow: auto;
}
