<html>
	<head>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta charset='UTF-8'>
		<title>{{site.data.main.site_title}}</title>
		<link rel='stylesheet' type='text/css' href='/css/main.css'/>
		<link rel="icon" type="image/png" href="/images/favicon.png"/>
	</head>
	<body>
		<div class='header-wrapper'>
			<div class='header'>
				<h1 class='site-title'><a href='/'>{{site.data.main.site_title}}</a></h1>
				<a class='github-link' href='https://github.com/frank-deng'>View Me on GitHub</a>
			</div>
		</div>
		<ul class='main-content'>
			{% for post in site.posts %}
			<li class='post-list-item'>
				<a href="{{ post.url | prepend: site.baseurl }}"><p class='post-title'>{{ post.title }}</p>
					<div class='tag-area'>
						{% if post.tags %}
						标签：
						{% for tag in post.tags %}<span class='tag' tag='{{tag}}'>{{tag}}</span>{% endfor %}
						{% endif %}
					</div>
				</a>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>

