<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta charset='UTF-8'/>
		<title>{{page.title}} - {{site.data.main.site_title}}</title>
		<link rel='stylesheet' type='text/css' href='/css/main.css'/>
		<link rel="icon" type="image/png" href="/images/favicon.png"/>
	</head>
	<body>
		<div class='header-wrapper'>
			<div class='header'>
				<p class='site-title'><a href='/'>{{site.data.main.site_title}}</a></p>
			</div>
		</div>
		<div class='main-content'>
			<h1>{{page.title}}</h1>
			{{ content }}
		</div>
	</body>
</html>

