<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta charset='UTF-8'/>
		<title>{{page.title}} - {{site.data.i18n[page.language].site_title}}</title>
		<link rel='stylesheet' type='text/css' href='/css/post.css'/>
	</head>
	<body>
		<div class='header-wrapper'>
			<div class='header'>
				{% include header-link.html %}
			</div>
		</div>
		<div class='main-content'>
			<h2>{{page.title}}</h2>
			{{ content }}
		</div>
	</body>
</html>

